<h1>Home stats</h1>

<dl>
  <dt>Address:</dt>
  <dd><%= @address %></dd>

  <dt>Type:</dt>
  <dd><%= @type %></dd>

  <dt>Lot Sq Footage:</dt>
  <dd><%= @lot %></dd>

  <dt>Square Footage:</dt>
  <dd><%= @sqft %></dd>

  <dt>Bedrooms:</dt>
  <dd><%= @bed %></dd>

  <dt>Bathrooms:</dt>
  <dd><%= @bath%></dd>

  <dt>Total rooms:</dt>
  <dd><%= @total %></dd>
</dl>
