<h1>Home #<%= @home.id %></h1>

<dl>
  <dt>Idcnum</dt>
  <dd><%= @home.idcnum %></dd>

  <dt>Name</dt>
  <dd><%= @home.name %></dd>

  <dt>Address</dt>
  <dd><%= @home.address %></dd>

  <dt>City</dt>
  <dd><%= @home.city %></dd>

  <dt>State</dt>
  <dd><%= @home.state %></dd>

  <dt>Zip</dt>
  <dd><%= @home.zip %></dd>

  <dt>Type</dt>
  <dd><%= @home.hometype %></dd>

  <dt>Lot</dt>
  <dd><%= @home.lot %></dd>

  <dt>Sqft</dt>
  <dd><%= @home.sqft %></dd>

  <dt>Bath</dt>
  <dd><%= @home.bath %></dd>

  <dt>Bed</dt>
  <dd><%= @home.bed %></dd>

  <dt>Total</dt>
  <dd><%= @home.total %></dd>

</dl>
